.index-hot-news{
  padding: 0.1rem;
  padding-bottom: 0;
}
.index-hot-news li{
  height: .3rem;
  line-height: .3rem;
  margin-bottom: .1rem;
}
.index-hot-news li span{
  width: .15rem;
  height: 0.15rem;
  display: inline-block;
  color: #fff;
  line-height: .16rem;
  text-align: center;
  margin-right: .1rem;
}
.index-hot-news li:nth-of-type(1) span{
  background-color: #ff510c;
}
.index-hot-news li:nth-of-type(2) span{
  background-color: #ff790c;
}
.index-hot-news li:nth-of-type(3) span{
  background-color: #ffb20c;
}
.index-hot-news li:nth-of-type(4) span{
  background-color: #ffd40c;
}
.index-hot-news li:nth-of-type(5) span{
  background-color: #bebebe;
}
mip-vd-tabs .mip-vd-tabs-nav{
  padding: 0;
}
mip-vd-tabs .mip-vd-tabs-nav .mip-vd-tabs-nav-li{
  border: 1px solid #eee;
  background-color: #f4f4f4;
  border-top: 2px solid transparent;
}
mip-vd-tabs .mip-vd-tabs-nav .mip-vd-tabs-nav-selected {
  border: 1px solid transparent;
  border-top: 2px solid #ff7300;
  color: #ff7300;
  border-bottom: none;
  background-color: #fff;
}
.index-tab-ul{
  padding: 0.1rem;
}
.index-tab-ul li{
  line-height: 0.3rem;
  height: .3rem;
  list-style: inside;
  overflow: hidden;
}
.index-tab-ul p{
  margin-top: 0.1rem;
}
.index-button{
  background-color: #ff7300;
  border: none;
  border-radius: .03rem;
  outline: none;
  width: 0.75rem;
  height: 0.25rem;
  line-height: 0.25rem;
  text-align: center;
  font-size: 0.12rem;
}
.index-button a{
  color: #fff;
}
.index-list{
  margin-top: 0.2rem;
}
.index-list h3{
  height: 0.4rem;
  line-height: 0.4rem;
  background-color: #f4f4f4;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 0 0.15rem;
}
.index-list h3 span{
  font-size: 0.146rem;
  font-weight: bold;
  height: 0.15rem;
  display: inline-block;
  border-left: 3px solid #ff7300;
  line-height: 0.15rem;
  padding-left: 0.05rem;
}

.index-list h3 a{
  color: #999;
}
.index-list .produce{
  padding: 0.1rem 0.15rem;
}
.index-list .produce li{
  padding: 0.15rem 0;
  border-bottom: 1px solid #eee;
  height: 0.95rem;
}
.index-list .produce li:last-child{
  border: none;
}
.index-list .produce .company-logo{
  width: 0.9rem;
  height: 100%;
}
.index-list .produce .company-infor{
  float: right;
  width: 70%;
  height: 100%;
}
.index-list .produce .company-infor h4{
  font-size: 0.13rem;

}
.index-list .produce .company-infor p{
  color: #666;
  height: 0.25rem;
  overflow: hidden;
  line-height: 0.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.index-list .company li{
  height: 1rem;
}
.index-list .company .company-logo{
  width: 0.73rem;
  background-color: #f7f7f7;
  border: 1px solid #eee;
  padding: 0.2rem 0;
}

.index-list .company .company-infor{
  width: 75%;
}
.index-list .produce .company-infor h4{
  margin-bottom: 0.05rem;
}


.login-top{
  height: 0.43rem;
  background-color: #ff7300;
  line-height: 0.23rem;
  color: #fff;
  padding: 0.1rem 0.15rem;
}
.login-top .logo{
  width: .75rem;
  height: .25rem;
  margin: 0 auto;
}
.login-top span{
  font-size: .14rem;
}
.login-form{
  background-color: #f4f4f4;
  padding: 0.25rem;
}
.login-form p{
  height: 0.35rem;
  line-height: 0.45rem;
}
.login-form input{
  width: 100%;
  outline: none;
  font-size: 0.13rem;
  padding: 0.1rem;
  border-radius: 5px;
}
.login-form input[type='submit']{
  background-color: #ff7300;
  color: #fff;
}
.main-title{
  height: 0.4rem;
  line-height: 0.4rem;
  background-color: #f4f4f4;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 0 0.15rem;
}
.main-title span{
  font-size: 0.146rem;
  font-weight: bold;
  height: 0.15rem;
  display: inline-block;
  border-left: 3px solid #ff7300;
  line-height: 0.15rem;
  padding-left: 0.05rem;
}
.main-title a{
  color: #999;
}
.company-index .classify{
  padding: 0.15rem;
}
.company-index .classify li{
  float: left;
  line-height: 0.2rem;
}
.company-index .classify li a{
  color: #23375c;
}
.company-index .classify li a.red{
  color: #d71902;
}
.register-form input{
  margin-bottom: 0.15rem;
}
.register-type p{
  line-height: initial;
}
.register-type li{
  background-color: #fff;
  padding: 0.1rem;
  border-radius: 5px;
}
.register-type li a{
  display: block;
}
.crumbs{
  height: 0.35rem;
  line-height: .35rem;
  padding: 0 0.15rem;
}
.crumbs .red{
  color: #d71902;
}
.classify-list{
  padding: 0.15rem;
}
.classify-list li{
  float: left;
  width: 32%;
  height: 0.3rem;
  margin-right: 2%;
  line-height: .3rem;
  background-color: #f4f4f4;
  border-radius: 0.05rem;
  text-align: center;
  margin-bottom: 0.1rem;
  overflow: hidden;
  border: 1px solid #eee;
}
.classify-list li:nth-of-type(3n){
  margin-right: 0;
}


